/* password.css */

.password-manager {
  background-color: #f4f4f4;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.password-manager h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.text-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.password-input-container {
  display: flex;
  align-items: center;
}

.password-input-container .text-input {
  flex: 1;
}

.password-visibility-icon {
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
  color: #666;
}

.list-container {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.list-container h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.list-item {
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visible {
  color: green;
}

.hidden {
  color: red;
}

.password-visibility-icon.hidden {
  display: none;
}

.action-icon {
  margin-left: 10px;
  cursor: pointer;
}

.edit-icon {
  color: #3498db; /* Blue color */
}

.delete-icon {
  color: #e74c3c; /* Red color */
}

.action-button:hover {
  background-color: #27ae60; /* Darker green color on hover */
}

.action-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
}

.password-visibility-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
}

.password-visibility-button:focus {
  outline: none;
}